@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.06);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .buttonQuickmer, .buttonQuickmer2 {
    background-color: #1283cf;
    animation: scaleAnimation 1s infinite;
  }
  