.bug-img{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    transition: .5s;
    opacity: .7;
}

.bug-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}